# Terraform state files
*.tfstate*

# Provider and plugin directories
**/.terraform/

# Terraform lock files
terraform/.terraform.lock.hcl
terraform/terraform_php/.terraform.lock.hcl

# Environment variables for terraform vm
terraform/terraform_vm/os.auto.tfvars
